.card {
    display: grid;
    --card-width: 800px;
    --card-height: 350px;
    width: var(--card-width);
    /* height: var(--card-height); */
}

.card div {
    grid-column: 1;
    grid-row: 1;
    /* z-index: 300; */
}

.cardimagewrapper {
    position: relative;
    width: var(--card-width);
    height: var(--card-height);
    border: 70px white solid;
}

.top {
    z-index: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titlewrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgba(255, 255, 255, .25);
}

.title {
    text-align: left;
}

.title h1 {
    font-size: 3rem;
}

.trigger {
    font-weight: 900;
}