

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  
  --violetindigo: 62, 41, 92;
  --tyrianpurple: 97, 5, 54;
  --sand: 235, 217, 186;

    --p: rgba(var(--tyrianpurple), 1);
    --s: rgba(var(--sand), 1);
    
  
}

body {
    margin: 0;
}

html {
    background-image: url('/background.png');
}



