

.grid {
    display: grid;
}

.grid div {
    grid-column: 1;
    grid-row: 1;
}

.background {
    /* max-width: none; */
    width: 150vw;
    height: 150vw;
    position: relative;
}

.backgroundwrapper {
    margin-top: 5rem;
    border-radius: 10000px 0 0 0;
    max-width: none;
    margin-left: -30vw;
    overflow: hidden;
}

.banner {
    margin-top: 18vh;
    width: 100vw;
    height: 40vw;
    position: relative;
    cursor: move;
}

.header {
    text-align: center;
    transform: rotate(-2deg);
    margin-top: 20vh;
    max-height: 100px;
}

.header h1 {
    font-size: calc(10px + 4vw);
    -webkit-text-stroke: 1px rgba(var(--tyrianpurple), 1);
    color: rgba(var(--sand), 1);
    cursor: move;
    color: rgba(var(--tyrianpurple), 1);
    /* -webkit-text-stroke: 1px rgba(var(--sand), 1); */
    font-weight: 800;
    text-shadow:
    -1px -1px 0 var(--s),  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

.header h1 span {
    color: rgba(var(--tyrianpurple), 1);
    /* -webkit-text-stroke: 1px rgba(var(--sand), 1); */
}

