
.member {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: var(--p)
}

.member:hover {
    cursor: grab;
}

.member:active {
    cursor: grabbing;
}

.desc h2, .desc h3 {
    margin: 0;
}

.headshot {
    position: relative;
    height: 200px;
    width: 200px;
}

.headshotrow{
    display: flex;
    align-items: center;
    justify-content: center;
}

.headshotcontainer {
    display: flex;
    flex-direction: column;
    gap: 300px;
}
